// Le Jour serif
@import url('https://fonts.cdnfonts.com/css/le-jour');

// Inria Serif for navbar
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap');

// Source serif for text
@import url("https://use.typekit.net/yjs8yox.css");

[data-bs-theme="algtoppr-dark"] {
    --bs-body-color: #292323;
    // --bs-body-color: #1c1c1d;
    // --bs-body-color: #221e1e;
    // --bs-body-color: #191008;
    --bs-text-color: #494743;

    --navbar-height: 66px;

    --bs-light-section-bg: #EDE4D9;
    // --bs-light-section-bg: #efe9e3;

    --bs-light-blue: #8bb1a9;
    --bs-orange: #D14A03;
}

body {
    background-color: var(--bs-body-color);
    // background-image: url(../images/banner.png);
    // background-attachment: fixed;
    // background-size: cover;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


#navbar {
    left: 0;    
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-right {
    float: right;
    padding-right: 10px;
    font-family: 'Inria Serif', serif;
    font-weight: 300;
}

#navbar li {
    display: inline-block;
    padding: 5px 10px 5px 10px; // top right bottom left
    // color: #d4ccc2;
    color: #efefef; // TODO: check lvl of contrast satisfies accessibility reqs
    // averaged with https://meyerweb.com/eric/tools/color-blend/#292323:EDE4D9:10:hex
    // color: #8B83FE;
    font-size: 20px;

    transition: ease color 0.3s;

    &:hover {
        color: #d14a03;
    }
}

// PARALLAX
    .parallax {
        perspective: 1px;
        height: calc(100vh - var(--navbar-height));
        top: 66px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .parallax__layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .parallax__layer--base {
        transform: translateZ(0);
        z-index:2;
    }
    .parallax__layer--back {
        transform: translateZ(-1px) scale(2);
    }

    .parallax__layer--front {
        transform: translateZ(0.1px) scale(0.9);
    }

    .parallax__layer--slightback {
        transform: translateZ(-0.1px) scale(1.1);
    }

    .parallax__layer--wayback {
        transform: translateZ(-2px) scale(3);
    }

    // parallax groups let us layer background parallax objects visually over
    // foreground parallax objects
    .parallax__group {
        position: absolute;
        top: 0;
        height: 100vh;
        transform-style: preserve-3d;
    }

// SNAP SCROLL LAYER
    .scroller {
        height: calc(100vh - 66px);
        // top: 66px !important;
        position: absolute;
        width: 100vw;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
    .section {
        width: 100vw;
        // height: max-content;
        min-height: calc(100vh - var(--navbar-height));
        scroll-snap-align: start;
        position: relative;
    }

    .section[id^=algtoppr-] {
    // height:100vh;
    height:max-content;
    overflow-y: scroll;
    background-color: var(--bs-light-section-bg);
    // height: max-content;
    }

    .section__content {
        display: block;
        position: absolute;
        padding-top: 100px;
        padding-bottom: 100px;

        font-family: "source-serif-pro", serif;
        color: var(--bs-text-color);
        font-size: 20px;

        b {
            font-weight: 700;
            color: var(--bs-orange);
        }

        h1 {
            display: block;
            position: relative;
            font-family: 'Le Jour', serif;
            font-size: 30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .section__content--wide {
        display: block;
        position: absolute;
        margin: 0 10vw 0 10vw;
        width: calc(100vw - 200px);
    }

// FLEX
    .flex__row {
        display: flex;
    }
    .flex__col {
        flex: 1;
        // padding: 0 auto 0 auto;
    }

// GRID
    .gallery {
        padding: 0;
        margin: 0;
    }

    .gallery h1 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .gallery ul.gallery__list {
        margin-top: 0;
        padding: 0;
        list-style-type: none;
        display: grid;
        row-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-auto-flow: dense;
    }

    ul.gallery__list li.gallery__item {
        grid-column: span 1;
    }

    .gallery__item--title {
        display: block;
        color: var(--bs-orange);
        font-weight: 700;
    }

    .gallery__item--subtitle {
        display: block;
    }


// TITLE
    .home-page-header {
        top: 0px;
        width: 100vw;
        height: 100vh;
        // for smooth transition when resizing screen
        transition: ease height .3s;
        .page-header-title {
            display: block;
            position: relative;
            top: calc(50vh - var(--navbar-height) / 2);
            left: 50%;
            -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
            width: 750px;
            height: max-content;

            img {
                display: block; // no vertical spacing between images
                width: 100%;
            }
        }
    }
    @media (max-width: 800px) {
        .home-page-header {
            .page-header-title {
                width: 93.75vw;
            }
        }
        // #navbar li {
        //     padding-top: 0px;
        //     transition: all 0.5s ease;
        //     font-size: 10px;
        // }
        // .navbar-right {
        //     margin-top: 5px;
        //     transition: margin-top 0.5s ease;
        // }
    }

    @media (max-width: 1183px) {
        //width at which the cenetered title starts to look weird
        // .home-page-header {
        //     .page-header-title {
        //         -ms-transform: translateY(-50%) translateX(-57%);
        //     transform: translateY(-50%) translateX(-57%);
        //     }
        // }   
    }



    .invis {
        display: none;
    }