// Le Jour serif
@import url('https://fonts.cdnfonts.com/css/le-jour');

// Inria Serif for navbar
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap');

// Source serif for text
@import url("https://use.typekit.net/yjs8yox.css");

[data-bs-theme="algtoppr-dark"] {
    --bs-body-color: #292323;
    // --bs-body-color: #1c1c1d;
    // --bs-body-color: #221e1e;
    --bs-text-color: #494743;
}

body {
    background-color: var(--bs-body-color);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

p {
    font-family: "source-serif-pro", serif;
    color: var(--bs-text-color);
    font-size: 20px;
}

#navbar {
    left: 0;    
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-right {
    float: right;
    padding-right: 10px;
    font-family: 'Inria Serif', serif;
    font-weight: 300;
}

#navbar li {
    display: inline-block;
    padding: 5px 10px 5px 10px; // top right bottom left
    // color: #d4ccc2;
    color: #948C86; // TODO: check lvl of contrast satisfies accessibility reqs
    // averaged with https://meyerweb.com/eric/tools/color-blend/#292323:EDE4D9:10:hex
    // color: #8B83FE;
    font-size: 20px;

    transition: ease color 0.3s;

    &:hover {
        color: #d14a03;
    }
}

// PARALLAX
    .parallax {
        perspective: 1px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .parallax__layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .parallax__layer--base {
        transform: translateZ(0);
    }
    .parallax__layer--back {
        transform: translateZ(-1px) scale(2);
    }

    .parallax__layer--front {
        transform: translateZ(0.1px) scale(0.9);
    }

    .parallax__layer--slightback {
        transform: translateZ(-0.1px) scale(1.1);
    }

    .parallax__layer--wayback {
        transform: translateZ(-2px) scale(3);
    }

    // parallax groups let us layer background parallax objects visually over
    // foreground parallax objects
    .parallax__group {
        position: absolute;
        top: 0;
        height: 100vh;
        transform-style: preserve-3d;
    }

// TETRAHEDRA
    .tetrahedron1 {
        position:relative;
        display: block;
        left: 63vw;
        top: 30vh;
        // width: 15vw;

        img {
            height: 100%;
        }
    }

    .tetrahedron2 {
        position: relative;
        display: block;
        // left:10vw;
        // I think the parallax scaling effectively translates the layer in a way I have not been able to figure out
        top: 84vh;
        width: 20vh;

        img {
            width: 100%;
        }
    }
    
    .tetrahedron3 {
        position: relative;
        display: block;
        top: 3vh;
        left: 10vw;
        // height: 400px;
        width:225px;
        img {
            width: 100%;
            // transform: rotate(-20deg);
        }
    }

// SNAP SCROLL LAYER
    .scroller {
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
    .section {
        width: 100vw;
        height: max-content;
        min-height: 100vh;
        scroll-snap-align: start;
        position: relative;
    }
    .section-content-wrapper {
        display: block;
        position: absolute;
        margin-top: 100px;
        margin-bottom: 100px;
    }

#algtoppr-about {
    height:100vh;
    background-color:#EDE4D9;
    height: max-content;
}

// TITLE
    .home-page-header {
        top: 0px;
        width: 100vw;
        height: 100vh;
        // for smooth transition when resizing screen
        transition: ease height .3s;
        .page-header-title {
            display: block;
            position: relative;
            // width: max-content;
            top: 50%;
            left: 50%;
            -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
            // color: #ccc;
            // font-size: 10vw;
            // line-height: 10vw;
            // font-family: 'Le Jour', serif;
            width: 665px;
            height: max-content;

            img {
                display: block; // no vertical spacing between images
                width: 100%;
            }
        }
    }
    @media (max-width: 800px) {
        .home-page-header {
            .page-header-title {
                width: 83.125vw;
            }
        }
    }

    @media (max-width: 1183px) {
        //width at which the cenetered title starts to look weird
    }
